services:
  rag-service:
    build: .
    container_name: rag-service
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./model:/app/model:ro
    environment:
        - RAG_MODEL_NAME=/app/model
        - RAG_ON_DOCKER=Y
        - RAG_DB_HOST=rag-mysql
        - RAG_DB_PORT=3306
        - RAG_DB_USER=demo_user
        - RAG_DB_PASS=demo_pass_123
        - RAG_DB_NAME=demo_db
    depends_on:
      - rag-mysql
    networks:
      - app-network

  rag-mysql:
    image: mysql:8.0
    container_name: rag-mysql
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root_password
      - MYSQL_DATABASE=demo_db
      - MYSQL_USER=demo_user
      - MYSQL_PASSWORD=demo_pass_123
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-demo
    environment:
      - PMA_HOST=rag-mysql
      - PMA_PORT=3306
      - PMA_USER=demo_user
      - PMA_PASSWORD=demo_pass_123
    ports:
      - "8081:80"
    depends_on:
      - rag-mysql
    networks:
      - app-network  
    restart: unless-stopped

volumes:
  mysql_data:

networks:
  app-network:
    external: false